@media screen and (min-width: 768px)and (max-width: 1280px) {
    body {
        background-color: #ABACB1;
    }
    .container {
        display: flex;
        justify-content: space-between;
        max-width: 1280px;
        background-color: white;
        margin: 0 auto;
    }
    .header_wrapper {
        background-color: white;
    }
    .header {
        padding-top: 43px;
        margin-left: 64px;
        height: 640px;
    }
    .header_logo {
        width: 42px;
        height: 44px;
        margin-bottom: 20px;
    }
    .header_text {
        font-family: Roboto, sans-serif;
        font-size: 48px;
        font-weight: 900;
        line-height: 58px;
        text-align: left;
        width: 437px;
    }
    .btn-login, .btn-reg {
        margin-top: 12px;
        display: block;
        width: 260px;
        height: 52px;
        border-radius: 10px;
    }
    .btn-reg {
        background: #0057FF;
        color: #ffffff;
        border: none;
    }
    .btn-login {
        background: white;
        color: #0057FF;
        border: 1px solid #0057FF;
    }
    .header-img {
        left: 680px;
        top: 0;
        content: url("../img/desktop-people.png");
        width: 640px;
        height: 640px;
    }
    .statistic {
        display: flex;
        justify-content: space-around;
        width: 960px;
        height: 254px;
        background-color: #0057FF;
        margin: 0 auto;
        border-radius: 0 0 10px 10px;
    }
    .stat {
        width: 200px;
        height: 146px;
        color: #FFFFFF;
        margin-top: 52px;
    }
    .stat-number {
        font-family: Roboto, sans-serif;
        font-weight: 300;
        text-align: center;
        font-size: 76px;
    }
    .stat_desc{
        font-family: Roboto, sans-serif;
        text-align: center;
        font-size: 18px;
    }
}